<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Flint &amp; Flame</title>
    <link href="css/bootstrap.css" media="screen" rel="stylesheet" />
    <link href="css/application.css" media="screen" rel="stylesheet" />
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/handlebars-1.0.0.js"></script>
    <script src="js/lib/ember-1.0.0.js"></script>
    <script src="js/lib/ember-data.js"></script>
    <script src="js/lib/accounting.js"></script>
    <script src="js/app/app.js"></script>
</head>
<body>

    <script type="text/x-handlebars" data-template-name='application'>
      <div class="navbar navbar-default">
        <div class="container">
          {{#link-to "index" class="navbar-brand"}}<img src="images/logo.png" alt="logo" height="34" width="224">{{/link-to}}
          <ul class="nav navbar-nav navbar-right">
            {{#link-to "index" tagName="li"}}Home{{/link-to}}
            {{#link-to "about" tagName="li"}}About{{/link-to}}
          </ul>
        </div>
      </div>

      <div class="container">
          {{outlet}}
      </div>

      <footer class='container'>
        <hr />
        <p class='pull-left'>&copy; 2013 The Flint &amp; Flame</p>
        <p class='pull-right'>credits</p>
      </footer>
    </script>

    <script type="text/x-handlebars" data-template-name="index">
        <h1>Hay en la tienda {{numProductos}} productos</h1>
        <img {{bind-attr src="logo"}} alt="">
        <p>Son las {{horaActual}}</p>
    </script>

    <script type="text/x-handlebars" data-template-name='about'>
      <h1>About</h1>
    </script>

</body>
</html>
